/*
----------------------------------------------------
TABLE OF CONTENTS                                   |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯                                  |
HEADER - Title/Name, navigation                     |
HERO - background image, subtitle                   |
MAIN -   About Me, Work, Contact Me sections        |
FOOTER -  no footer                                 |
----------------------------------------------------
*/
/*
AUTHOR'S NOTES
¯¯¯¯¯¯¯¯¯¯¯¯¯¯
-All CSS properties are in alphabetical order
-All units are relative where possible, exceptions are explained
-This stylesheet is intended to be used in conjunction with a reset.css
*/

/* declared variables and color palette */
:root {
  --dark: #31343d;
  --lite: #ededf6;
  --teal: #92cccd;
  --text: #445876;
}

/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Element Selectors */
body {
  background-color: var(--lite);
  color: var(--text);
}

/* ------HEADER------ */
header {
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-content: space-between;
  margin: 0 auto;
  white-space: nowrap;
}

header h1 {
  background-color: var(--teal);
  color: var(--dark);
  display: inline-block;
  font-size: 3rem;
  margin: 0.75rem 0.75rem 0.75rem 0rem;
  padding: 0.5rem 0.75rem 0.5rem 4rem;
}

/* Navigation */
header nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  padding-right: 4rem;
  width: 40%;
}

header nav ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

header nav ul li {
  padding: 0.5rem;
}

header nav a {
  border-bottom: 0.25rem solid var(--teal);
  color: var(--teal);
  text-decoration: none;
}

/* Hero image */
#hero {
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  display: block;
  height: 197px; /* used exact height of image instead of relative units to keep resolution consistent across screens */
  width: 100%;
}

#hero h2 {
  background-color: var(--teal);
  color: var(--dark);
  font-size: 2rem;
  padding: 0.5rem;
  position: absolute;
  right: 5rem;
  top: 12rem;
}

/* ------MAIN------ */
.card {
  display: flex;
  padding: 3rem 2rem 0rem 0rem;
}

.card img {
  display: inline;
  max-height: 12.5rem;
  padding-left: 2%;
}

/* Card titles */
.card h2 {
  border-right: 0.25rem solid var(--text);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.5rem;
  min-width: 12rem;
  padding-right: 1rem;
  text-align: right;
}

.card p {
  font-size: 1.2rem;
  margin: 0 auto;
  padding-left: 2%;
}

.card a {
  border-bottom: 0.2rem solid var(--text);
  color: var(--dark);
  text-decoration: none;
}

.card img {
  display: inline;
  margin: 0 auto;
}

/* About Me card */
#aboutme p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 1.5rem;
  width: 100%;
}

/* Work card */
#allwork {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0 0 0 2rem;
  width: 100%;
}

/* styles for all work cards */
.projects {
  border: 0.25rem solid var(--teal);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
}

/* styles for work card labels */
.projects h4 {
  font-size: 0.75rem;
}

.projects h3 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.worklabel {
  background-color: var(--teal);
  bottom: 1rem;
  padding: 0.5rem;
  position: absolute;
}

/* makes the each work card a link and provides an overlay */
.link {
  background-color: var(--teal);
  height: 100%;
  left: 0;
  opacity: 30%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.link:hover {
  opacity: 0%;
}

/* styles first row in work section */
#firstrow {
  background-image: url("../images/surf.jpg");
  background-position: center;
  background-size: cover;
  display: block;
  height: 24rem;
  margin-bottom: 1rem;
  position: relative;
}

/* styles second and third rows in work section */
#secondrow,
#thirdrow {
  display: flex;
  height: 8rem;
  margin-bottom: 1rem;
  position: relative;
}

/* styles bottom four work cards */
#led, #calc, #puzzle, #buddy {
  background-position: center;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
}

/* applies unique image to bottom 4 work cards and adds spacing */
#led {
  background-image: url("../images/led.jpg");
  margin-right: 0.5rem;
}

#calc {
  background-image: url("../images/calc.jpg");
  margin-left: 0.5rem;
}

#puzzle {
  background-image: url("../images/pastel.jpg");
  margin-right: 0.5rem;
}

#buddy {
  background-image: url("../images/run.jpg");
  margin-left: 0.5rem;
}

/* Contact Me section */
#contactme div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}
/* changes styling to move the navigation under the title below 992 */
@media only screen and (max-width: 992px) {
  header {
    flex-direction: column;
  }

  header nav {
    justify-content: flex-start;
    padding-right: 0;
    width: inherit;
  }
}

/* styling changes flex boxes from rows to columns for better layout on mobile */
@media only screen and (max-width: 600px) {
#contactme div {
  flex-direction: column;
}

header nav ul {
  flex-direction: column;
}

#hero h2 {
  position: inherit;
}
}