/*
----------------------------------------------------
TABLE OF CONTENTS                                   |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯                                  |
HEADER -                                            |
MAIN -                                              |
FOOTER -                                            |
----------------------------------------------------
COLOR PALETTE
#4F728D
#442D19
#C3DCE9
#98C7ED
#87ADD2
#839DB5
#424E53
#442C49
*/

/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Element Selectors */
body {
  background-color: #293f55;
  color:#8f8f8f;
}

a {
  color: #aa591a;
  border-bottom: 3px solid #9D7438;
  text-decoration: none;
}
a:hover {
  color: #9D7438;
  border-bottom: 3px solid #aa591a;
  text-decoration: none;
}
/* ------HEADER------ */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #424d53;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  color: #8f8f8f;
}

header nav {
  width:33%;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
}
header nav ul li {
    display:inline-flex;
    justify-content: right;
    padding:10px;
    flex-wrap:wrap;
    flex-direction: column;

}
/* ------MAIN------ */
aside {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Class Selectors */
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.card {
  padding: 2%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display:flex;
  border-top: 3px solid #9D7438;
  border-bottom: 3px solid #9D7438;
  border-radius: 15%;
  margin:2%;
}

.card img {
  max-height: 200px;
  display:inline;
  padding-left: 2%;
}

.card h2 {
  font-size: 36px;
  display:block;
  text-align: center;
  padding-right:2%;
  width: 20%;
  height:100%;
  color:#8f8f8f;
}

.card p {
    padding-left:2%;
    font-size: 18px;
    flex:auto;
    justify-content: space-evenly;
}

/* ID Selectors */
/* #content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
  font-size: 16px;
} */

#hero {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
}

/* ------FOOTER------ */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
