/*
----------------------------------------------------
TABLE OF CONTENTS                                   |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯                                  |
HEADER -                                            |
MAIN -                                              |
FOOTER -                                            |
----------------------------------------------------
*/
/* declared variables */
:root {
  --teal: #92cccd;
  --dark: #31343d;
  --light: #ededf6;
  --text: #445876;
}
/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Element Selectors */
body {
  background-color: var(--light);
  color: var(--text);
}
/* ------HEADER------ */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--dark);
  margin: 0 auto;
  white-space: nowrap;
}

header h1 {
  display: inline-block;
  font-size: 3rem;
  color: var(--dark);
  background-color: var(--teal);
  padding: 0.5rem 0.75rem 0.5rem 4rem;
  margin: 0.75rem 0.75rem 0.75rem 0rem;
}

header nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  width: 40%;
  padding-right: 4rem;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100%;
  text-align: center;
}

header nav ul li {
  padding: 0.5rem;
}
header nav a {
  color: var(--teal);
  border-bottom: 0.25rem solid var(--teal);
  text-decoration: none;
}
/* ------MAIN------ */
.card {
  padding: 3rem 2rem 0rem 0rem;
  display: flex;
}

.card img {
  max-height: 200px;
  display: inline;
  padding-left: 2%;
}

.card h2 {
  font-size: 2.5rem;
  text-align: right;
  padding-right: 1rem;
  min-width: 12rem;
  border-right: 0.25rem solid var(--text);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

}

.card p {
  padding-left: 2%;
  font-size: 1.2rem;
  margin: 0 auto;
}

.card a {
  color: var(--dark);
  border-bottom: 0.2rem solid var(--text);
  text-decoration: none;
}
.card img {
  display:inline;
  margin: 0 auto;
}

#hero {
  height: 197px;
  width: 100%;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: block;
}

#hero h2 {
  font-size: 2rem;
  color: var(--dark);
  background-color: var(--teal);
  padding: 0.5rem;
  position: absolute;
  right: 5rem;
  top: 12rem;
}
#aboutme p {
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  padding-bottom: 1.5rem;
  width:100%;
}

#allwork {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
  width:100%;
  padding:0 0 0 2rem;
}
.link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  background-color: var(--teal);
  opacity: 30%;
}
.link:hover {
  opacity: 0%;
}
#contactme div {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
}
#firstrow {
  background-image: url("../images/surf.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  height:24rem;
  margin-bottom: 1rem;
  position:relative;
}
#secondrow, #thirdrow {
  display:flex;
  margin-bottom: 1rem;
  height: 8rem;
  position:relative;
}
#led {
  background-image: url("../images/led.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  width:100%;
  height:100%;
  margin-right: 0.5rem;
}
#calc {
  background-image: url("../images/calc.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  width:100%;
  height:100%;
  margin-left: 0.5rem;
}
#puzzle {
  background-image: url("../images/pastel.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  width:100%;
  height:100%;
  margin-right: 0.5rem;
}
#buddy {
  background-image: url("../images/run.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  width:100%;
  height:100%;
  margin-left: 0.5rem;
}
.projects {
  border: 0.25rem solid var(--teal);
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.projects h4 {
  font-size: 0.75rem;
}
.projects h3 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
.lightbox{
  background-color: var(--teal);
  position:absolute;
  bottom: 1rem;
  padding:0.5rem;
}